body {
	font-family: Arial, sans-serif;
	background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
h1{
 font-size: 58px;
text-align: center;
font-family: cursive;

}
h3{
    text-align: center;
    font-family: cursive;
}
.clock-container {
	text-align: center;
    font-family: cursive;
}

.clock {
	font-size: 84px;
	margin-bottom: 20px;
    font-family: cursive;
}

.calendar {
    font-family: cursive;
    font-size: 42px;
}